---
title: Home
description: The eBay seller AnnetteWadeJosh now has a Webstore.
image: https://res.cloudinary.com/dc6ikvlwb/image/upload/v1540701147/ipad-820272_960_720.jpg
bottom_image: https://res.cloudinary.com/dc6ikvlwb/image/upload/v1540701146/gift-1420830_960_720.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Take a Look</h1>
			<p class="subtext editable">AnnetteWadeJosh has loads of amazing deals. Each Item is in Great Condition.</p>
			<div class="cta button alt"><a href="#">Shop Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Check Out our "Buy It Now" Items</h2>
				<p class="editable">Your next great find is just a click away. Clothes to Toys, Household items to one-of-a-kind deals.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://res.cloudinary.com/dc6ikvlwb/image/upload/v1540698501/pexels-photo-953864.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Seasonal Items</h2>
				<p class="editable">Are you going to the beach? What about a Costume Party? You can find the special thing you are looking for here.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://res.cloudinary.com/dc6ikvlwb/image/upload/v1540698475/christmas-present-83119_960_720.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Wargaming Miniature Bases</h2>
				<p class="editable">Do you play Mini Wargames? Did you know we sell Bases? Take a look at our Inventory.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://res.cloudinary.com/dc6ikvlwb/image/upload/v1540698521/pexels-photo-278918.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find a Deal</h2>
				<p class="subtext editable">The eBay seller AnnetteWadeJosh now has a Webstore.</p>
				<div class="cta button alt"><a href="#">Shop Now</a></div>
			</div>
		</div>
	</section>
</div>
